/* Top header */
.header-row-wrapper{
    margin: 0 auto;
    height: 80px;
    display: flex;
}
.header-row .btn-navicon {
    display: none;
}
.header-row .logo-wrapper{
    display: flex;
    align-items: center;
}
.header-row .logo-wrapper img{
    width: 100%;
}
.search-wrapper{
    display: flex;
    align-items: center;
}
.search-wrapper div{
    width: 100%;
}
form{
    height: 34px;
    position: relative;
    display: flex;
    vertical-align: baseline;
}
form input[type=search] {
    font-size: 17px;
    border: 1px solid #dadbdd;
    border-radius: 3px 0 0 3px;
    float: left;
    width: 70%;
}
form button {
    width: 20%;
    padding: 7px 0;
    background: #1dbf73;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 0 3px 3px 0;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
form button a{
    font-weight: 600;
}
.fiverr-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.fiverr-nav ul{
    margin-bottom: 0;
}
.fiverr-nav ul li{
    display: inline-block;
    padding: 0 24px 0 0;
}
.fiverr-nav ul li a{
    text-decoration: none;
    color: #62646a;
    font-weight: 600;
}
.fiverr-nav button{
    width: 130%;
    font-size: 20px;
    border: none;
    background-color: #C43333;
    border-radius: 60%;
}
.fiverr-nav button a:nth-last-child(1){
    color: #fff;
}
/* Top header end*/

/* Categories Menu */
.CategoriesMenu-component{
    border-top: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
}
.CategoriesMenu-component .categories-menu-package{
    max-width: 1400px;
    margin: 0 auto;
    line-height: 40px;
}
.categories-menu-package .categories{
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between;
    max-width: 1400px;
}
.categories-menu-package ul li{
    display: inline-block;
    padding: 0 10px;
}
.categories-menu-package ul li:hover{
    border-bottom: 2px solid #aaaaaa;
}
.categories-menu-package ul li a{
    text-decoration: none;
    color: #62646a;
}
/* Categories Menu end*/


/* LoginHomePage */
.logged_in_homepage_wrapper{
    padding: 32px 32px 32px;
}
.logged-in-homepage-top{
    height: 240px;
}
.welcome-section .buyer-request{
    background: #fafafa;
    border: 1px solid #efeff0;
    padding: 50px 24px 32px;
    text-align: center;
}
.welcome-section .buyer-request span{
    font-size: 18px;
    font-weight: 600;
}
.welcome-section .buyer-request p{
    font-size: 18px;
    padding: 12px 0 32px;
}
.welcome-section .buyer-request a{
    text-decoration: none;
    color: #1dbf73;
    padding: 10px 16px;
    border-color: currentColor;
    border: 1px solid;
    border-radius: 4px;
}
.welcome-section .buyer-request a:hover{
    color: #fff;
    background-color: #19a463;
}

/* LoginHomePage end*/

/*Popular Gigs slides*/
.popular-gigs-slides{
    margin: 40px 0;
}
.popular-gigs-slides h4{
    margin: 20px 0;
    font-weight: 700;
}
.popular-gigs-slides .popular-carousel-card{
    width: 16rem;
    margin: 9px;
}
/*Popular Gigs slides end*/

/*Recommendation Gigs*/
.gigs-recommendation{
    margin: 40px 0;
}
.gigs-recommendation h4{
    margin: 20px 0;
    font-weight: 700;
}
.gigs-recommendation .listing-impression-container .gigs-recommendation-card{
    display: inline-block;
    width: 16rem;
    margin: 9px;
}
/*Recommendation Gigs end*/

/*Mid Banner*/
.mid-banner-carousel{
    padding: 30px 0;
}
/*Mid Banner end*/

/*Footer*/
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> edb3411c65429840a3014d78b0bd35ef58418a6c
.site-footer{
    border-top: 1px solid #e4e5e7;
}
.footer-wrapper{
    padding: 64px 30px 24px 30px;
<<<<<<< HEAD
=======
=======
.footer-wrapper {
    padding: 30px;
>>>>>>> efec9030105abd67906f43d5ea6998e53795f59f
>>>>>>> edb3411c65429840a3014d78b0bd35ef58418a6c
}
.footer-wrapper .list-wrapper{
    width: 20%;
}
<<<<<<< HEAD
.footer-wrapper .list-wrapper h5{
    padding-bottom: 16px;
}
=======
<<<<<<< HEAD
.footer-wrapper .list-wrapper h5{
    padding-bottom: 16px;
}
=======
>>>>>>> efec9030105abd67906f43d5ea6998e53795f59f
>>>>>>> edb3411c65429840a3014d78b0bd35ef58418a6c
.footer-wrapper h4{
    color: #404145;
}
.footer-wrapper ul{
    list-style: none;
    padding: 0;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> edb3411c65429840a3014d78b0bd35ef58418a6c
.footer-wrapper ul li{
    padding-bottom: 16px;
}
.footer-wrapper ul li a{
    text-decoration: none;
    color: #7a7d85;
    font-size: 18px;
<<<<<<< HEAD
=======
=======
.footer-wrapper ul li a{
    text-decoration: none;
    color: #7a7d85;
>>>>>>> efec9030105abd67906f43d5ea6998e53795f59f
>>>>>>> edb3411c65429840a3014d78b0bd35ef58418a6c
}
.footer-wrapper ul li a:hover{
    text-decoration: underline;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> edb3411c65429840a3014d78b0bd35ef58418a6c
.bottom-wrapper {
    border-top: 1px solid #e4e5e7;
}
.bottom-wrapper .bottom-left{
    display: flex;
    justify-content: flex-start;
    padding: 16px 0;
}
.bottom-wrapper img{
    width: 10%;
    display: inline-block;
}
.bottom-wrapper p{
    display: inline-block;
    font-size: 18px;
    color: #b5b6ba;
    padding-left: 20px;
    margin-top: 10px;
}
.bottom-wrapper .bottom-right{
    display: flex;
    justify-content: flex-end;
}
.bottom-wrapper .bottom-right ul li{
    display: inline-block;
    margin-top: 20px;
    padding-right: 30px;
}
.bottom-wrapper .bottom-right ul li svg{
    color: #a58787;
    size: 2x;
}
.bottom-wrapper .bottom-right ul li svg:hover{
    color: rgb(97, 94, 94);
}
<<<<<<< HEAD
=======
=======
>>>>>>> efec9030105abd67906f43d5ea6998e53795f59f
>>>>>>> edb3411c65429840a3014d78b0bd35ef58418a6c
/*Footer end*/
